
 
 * {
   margin: 0;
   box-sizing: border-box;
   font-weight: normal;
 }
body {
  height: 100vh;
  color: white;
   background-image: linear-gradient(45deg, #4b6cb7, #182848);
}
 .navbar {
    padding: 0px 30px;
    display: flex;
    justify-content: space-evenly;
    //position: fixed;
    position: relative;
    align-items: center;
    width: 100vw;
    height: 15%;
    background-image: linear-gradient(45deg, #1d3264, #182848);
    animeation-name: fadein;
}
 #title-total{
   display:flex;
   justify-content: space-between;
   font-style:italic;
   width: 30%;
 }
 #game-title {
  padding-left: 20px;
 }
 #game-sum{
   width:70%;
   display: flex;
   flex-direction: row-reverse;
 }
 #game-sum p{
   text-align:center;
 }
 
.allParas{
  height: 75%;
}
.madLibsEdit{
  height: 50%;
  display: flex;
 }
 .madLibsPreview{
  height: 50%;
  display: flex;
  flex-direction: row-reverse;

 }
.texT{
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
.texT p{
  
}
.forImg{
  width: 30%;
  height: 90%;
}
#github{
  display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}
.forStory{
  width: 60%;
  height: 90%;
   border-radius: 30px;
  border: 1px solid purple;
  background-color:purple;
}

  footer{
    background-image: linear-gradient(45deg, #1d3264, #182848);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
footer img {
    width: 26px;
    margin: 10px;
    }
  footer h3 {
    margin-top: 25px;
    font-size: 80%;
  }
  footer br {
    display:none;
  }
@media only screen and (max-width: 910px) {
  .texT{
   flex-direction: column;
  }
  .forImg{
    margin-top: 10px;
  }
  .forStory{
    width: 90%;
   margin-bottom: 10px;
  }
}
@media only screen and (max-width: 510px){
  .navbar{
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
  }
  #title-total{
    width:  90%;

  }
  #game-sum p{
    width:100%;
  }
  footer {
    padding-top: 10px;
  }
  footer h3{
    text-align: center;
    margin: 0 auto;
  }
  br {
    display: block;
  }
}


